<div>
  <tc-colleague [pseudo]="laure.pseudo" [photo]="laure.photo" [score]="laure.score"></tc-colleague>

  <tc-colleague [pseudo]="lucas.pseudo" [photo]="lucas.photo" [score]="lucas.score"></tc-colleague>

  <tc-colleague [pseudo]="eli.pseudo" [photo]="eli.photo" [score]="eli.score"></tc-colleague>

  <tc-colleague [pseudo]="joris.pseudo" [photo]="joris.photo" [score]="joris.score"></tc-colleague>

  <tc-colleague [pseudo]="antoine.pseudo" [photo]="antoine.photo" [score]="antoine.score"></tc-colleague>
  <tc-colleague [pseudo]="antoine.pseudo" [photo]="antoine.photo" [score]="antoine.score"></tc-colleague>
  <tc-colleague [pseudo]="antoine.pseudo" [photo]="antoine.photo" [score]="antoine.score"></tc-colleague>
  <tc-colleague [pseudo]="antoine.pseudo" [photo]="antoine.photo" [score]="antoine.score"></tc-colleague>
  <tc-colleague [pseudo]="antoine.pseudo" [photo]="antoine.photo" [score]="antoine.score"></tc-colleague>
  <tc-colleague [pseudo]="antoine.pseudo" [photo]="antoine.photo" [score]="antoine.score"></tc-colleague>
</div>
